{% extends 'base.html' %}


{% block title %} Home {% endblock title %}
{% block body %}

<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>Welcome to Wallet App</h1>

        <div class="m-3">
            {% if request.user.is_authenticated %}

            <a href="/sendmoney" class="btn btn-primary">sendmoney</a>
            <a href="/requestmoney" class="btn btn-primary"> Request Money</a>
            <a href="/wallet" class="btn btn-primary">Wallet</a>
            <a href="/requestlog" class="btn btn-primary"> Requested Money</a>

            {% elif request.user_is_anonymous %}
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
        {% endif %}


    </div>
</div>




{% endblock body %}